<% provide(:title, 'О нас') %>
<div class="jumbotron center">
	<div class="container">
		<h1>О нас</h1>
	</div>
</div>
<div class="container">
	<ol class="breadcrumb">
		<li>
			<a href="/">Главная</a>
		</li>
		<li class="bread">О нас</li>
	</ol>
	<div class="row">
		<div class="col-sm-8">
			<div class="p-header">
				<h3 class="title_ps">Что такое GoodiDeas?</h3>
			</div>
			<div class="info">
				<p><%= image_tag("mac.jpg", class: "img-rounded pull-right", :alt => "asd") %>GoodiDeas – это независимый интернет-сервис, позволяющий пользователям добавлять в режиме онлайн идеи для путешествий и делиться ими с другими пользователями.</p>
				<h4>Пользователям</h4>
				<p>На сегодняшний день в потоке разнообразной информации трудно найти то, что действительно окажется полезным, и часто приходится посещать множество различных сайтов, прежде чем найдется вся нужная информация. Кроме того, GoodiDeas является не просто информационным порталом, но и коммуникационной сетью для людей, объединенных общим интересом – туризм.</p>
				<h4>Компаниям</h4>
				<p>GoodiDeas интересен и полезен не только путешественникам, но и компаниям, предлагающим свои услуги в сфере туризма. Наша аудитория постоянно растет и проявляет все больше активности. Поэтому нам всегда есть что рассказать!</p>
			</div>
		</div>
		<div class="col-sm-4">
			<h4>Вакансии:</h4>
			<adress>Контент-менеджер</adress>
			</br>
			<adress>Дизайнер</adress>
			</br>
			<adress>RoR-разработчик</adress>
		</div>
	</div>
</div>
