<% provide(:title, 'Контакты') %>
<div class="jumbotron center">
	<div class="container">
		<h1>Контакты</h1>
	</div>
</div>
<div class="container">
	<ol class="breadcrumb">
		<li>
			<a href="/">Главная</a>
		</li>
		<li class="bread">Контакты</li>
	</ol>
	<div class="row">
		<div class="col-sm-8">
			<div class="p-header">
				<h3 class="title_ps">По всем вопросам обращайтесь по телефону либо пишите на почтовый адрес. </h3>
			</div>
			<div class="info">
				<p><strong>Разработчик:</strong> Разманов Виктор Викторович, учащийся группы 13ИТз-2</p>
				<p><strong>E-mail:</strong> <a href="mailto:vintosa@gmail.com">vintosa@gmail.com</a></p>
			</div>
		</div>
		<div class="col-sm-4">
			<h4>Адрес:</h4>
			<adress>г. Витебск, ул. Лазо, д.10</adress>
			</br>
			<h4>Телефон:</h4>
			<adress>+375 (29) 232 23 72</adress>
		</div>
	</div>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2277.0261887896786!2d30.241272892699158!3d55.20030183385848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46c576ae7107e11b%3A0xc7af6cf0607107!2z0YPQu9C40YbQsCDQm9Cw0LfQviAxMCwg0JLQuNGC0LXQsdGB0LosINCR0LXQu9Cw0YDRg9GB0Yw!5e0!3m2!1sru!2sru!4v1494427793761" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

