<% provide(:title, 'Контакты') %>
<div class="jumbotron center">
	<div class="container">
		<h1>Контакты</h1>
	</div>
</div>
<div class="container">
	<ol class="breadcrumb">
		<li>
			<a href="/">Главная</a>
		</li>
		<li class="bread">Контакты</li>
	</ol>
	<div class="row">
		<div class="col-sm-8">
			<div class="p-header">
				<h3 class="title_ps">По всем вопросам обращайтесь на почтовый адрес. </h3>
			</div>
			<div class="info">
				<p><strong>Разработчик:</strong> Разманов Виктор Викторович, учащийся группы 13ИТз-2</p>
				<p><strong>E-mail:</strong> <a href="mailto:vintosa@gmail.com">vintosa@gmail.com</a></p>
			</div>
		</div>
		<div class="col-sm-4">
			<h4>Адрес:</h4>
			<adress>211440, г. Новополоцк, ул. Блохина, 29</adress>
			</br>
			<adress>Витебская обл.,</adress>
			</br>
			<adress>Республика Беларусь</adress>

		</div>
	</div>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2258.044679180587!2d28.642037251423783!3d55.53159101640304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46c48547c29fffe3%3A0x223baa2bab5a08e3!2z0YPQuy4g0JHQu9C-0YXQuNC90LAgMjksINCd0L7QstC-0L_QvtC70L7RhtC6!5e0!3m2!1sru!2sby!4v1496953770330" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

