<% provide(:title, 'Contact') %>
<div class="jumbotron center">
	<div class="container">
		<h1>Contact</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod aliqua.</p>
	</div>

</div>