<% provide(:title, 'Помощь') %>
<div class="jumbotron center">
	<div class="container">
    	<h1>Помощь</h1>
    </div>
</div>
<div class="container">
	<ol class="breadcrumb">
		<li>
			<a href="/">Главная</a>
		</li>
		<li class="bread">Помощь</li>
	</ol>
	<div class="demo">
	<h4>Общие вопросы:</h4>
    <input type="checkbox" id="hd-1" class="hide"/>
    <label for="hd-1" >Зачем мне нужен GoodiDeas?</label>
    <div>
        Здесь вы сможете найти множество полезных идей для путешествий.
    </div>
    <br/>
    <br/>
    <input type="checkbox" id="hd-2" class="hide"/>
    <label for="hd-2">Что такое идея?</label>
    <div>
        Идея - это любое изображение, добавленное на сайт GoodiDeas.
    </div>
    <br/>
    <br/>
    <input type="checkbox" id="hd-3" class="hide"/>
    <label for="hd-3" >Что такое избранное?</label>
    <div>
        Избранное – это группа идей, добавленных с помощью кнопки. В оизбранное можно добавлять неограниченное количество идей.
    </div>
    <br/>
    <br/>
    <input type="checkbox" id="hd-4" class="hide"/>
    <label for="hd-4">Что такое подписка?</label>
    <div>
       Вы можете подписаться на все коллекции любого пользователя. И тогда вы будете видеть все новые пины со всех коллекций этого человека в разделе «Избранное». Для этого нажмите «Подписаться на все». В случае, если вас интересует только определенная тематика, вы можете подписаться на отдельные коллекции. Также вы можете отписаться от любых коллекций в любое время.
    </div>
    <br/>
    <br/>
    <input type="checkbox" id="hd-5" class="hide"/>
    <label for="hd-5">Как изменить данные в профиле?</label>
    <div>
       Для этого вам необходимо авторизоваться на сайте, навести курсор на свое имя в верхнем правом меню и в выпадающем списке кликнуть на пункт «Настройки». 
    </div>
    <br/>
    <br/>
    <input type="checkbox" id="hd-6" class="hide"/>
    <label for="hd-6">Как добавить идею?</label>
    <div>
       Чтобы разместить новую идею, нажмите «Новая идея» в верхнем меню.  
    </div>
    <br/>
    <br/>
    <input type="checkbox" id="hd-7" class="hide"/>
    <label for="hd-7">Как редактировать идею?</label>
    <div>
       При просмотре идеи наведите нажмите на кнопку «Редактировать». 
    </div>
    <br/>
    <br/>
    <input type="checkbox" id="hd-8" class="hide"/>
    <label for="hd-8">Как оставить комментарий к идее?</label>
    <div>
       При просмотре идеи нажмите на  кнопку «Комментировать» - откроется форма для ввода текста комментария. 
    </div>
</div>
</div>