<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-4">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <% if @user.pins.any? %>
      <h3>Пинов (<%= @user.pins.count %>)</h3>
      <%= render @pins %>
      <% end %>

  </div>
</div>