
@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grayLight: #999;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  background: #E9E9E9;
  padding-top: 60px;
}

section {
  overflow: auto;
}

//textarea {
  //resize: vertical;
//}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


.gravatar {
  float: left;
  margin-right: 10px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid grayLighter;
    &:last-child {
      border-bottom: 1px solid grayLighter;
    }
  }
}


/* forms */
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .has-error;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  //margin-left: -100px;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 11px;
  font-weight: bold;
  
  &:hover {
    color: white;
    text-decoration: none;
  }
}
.logo_image{
    left: -210px;
    position: relative;
    top: 3px;
    z-index: 10;
}

.navbar{
  height: 50px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}




#pins {
  margin: 0 auto;
  width: 100%;
  .box {
    margin: 10px;
    width: 350px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 7px;
    text-align: center;
    img {
      max-width: 100%;
      height: auto;
    }
    h2 {
      font-size: 22px;
      margin: 0;
      padding: 25px 10px;
      a {
        color: #474747;
      }
    }
    .user {
      font-size: 12px;
      border-top: 1px solid #EAEAEA;
      padding: 15px;
      margin: 0;
    }
  }
}

#edit_page {
  .current_image {
    img {
      display: block;
      margin: 20px 0;
    }
  }
}

#pin_show {
  .panel-heading {
    padding: 0;
  }
  .pin_image {
    img {
      max-width: 100%;
      width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
  .panel-body {
    padding: 35px;
    h1 {
      margin: 0 0 10px 0;
    }
    .description {
      word-wrap: break-word;
      color: #868686;
      line-height: 1.75;
      margin: 0;
    }
  }
  .panel-footer {
    padding: 20px 35px;
    p {
      margin: 0;
    }
    .user {
      padding-top: 8px;
    }
  }
}

textarea {
  min-height: 250px;
}


.jumbotron{
  background-image: url(1111.jpg);
  h1{
    color: #fff;
  }
}

/*
container {
  //max-width: 1280px;
  //padding: 0px;
  .row.main {
    margin-left: -100px; 
    width: 125%;
    .jumbotron {
      margin-left: 8px;
      padding-top: 20px;
      height: 240px;
     background-image: url(1111.jpg);
     h1 {
        color: #fff;
     }
    }
    .col-md-11{
      width: 77.9%;
      overflow-y: hidden; // hide vertical
      overflow-x: hidden; // hide horizontal

      padding: 0px;
      .transition-enabled{
        overflow-y: hidden; // hide vertical
        overflow-x: hidden; // hide horizontal
        margin: 0px;
      }
    }
    .col-md-1{
      margin-top: 8px;
      width: 22.1%;
      padding: 0px;
      }
  }
}
*/
.profile{
  word-wrap: break-word;
}