
@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grayLight: #999;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  background: #E9E9E9;
  padding-top: 50px;
}

section {
  overflow: auto;
}

//textarea {
  //resize: vertical;
//}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


.gravatar {
  margin-right: 10px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid grayLighter;
    &:last-child {
      border-bottom: 1px solid grayLighter;
    }
  }
}


/* forms */
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .has-error;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */
#search_bar{
  margin-right: 0px;
}

#search_field{
  border: 0px;
  color: rgba(255, 255, 255, 0.74902);
  background-color: RGB(60, 60, 60);
  min-height: 30px;
}

#button_search{
  width: 65px;;
  margin-bottom: 15px;
}

#logo {
  //margin-left: -100px;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 10px;
  font-weight: bold;
  
  &:hover {
    color: white;
    text-decoration: none;
  }
}
.logo_image{
    left: -210px;
    position: relative;
    top: 3px;
    z-index: 10;
}

.navbar{
  height: 50px;
}
.navbar-nav{
  li{
    a{
      padding-bottom: 10px; //отступ выпадающее меню "Профиль"
    }
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.main_menu {
  margin-top: 15px;
  ul{
    li{
      margin-right: 30px;
      float: left;
    }
  }
}


#pins {
  margin: 0 auto;
  width: 100%;
  .box {
    margin: 10px;
    width: 350px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 7px;
    text-align: center;
    img {
      max-width: 100%;
      height: auto;
    }
    h2 {
      font-size: 22px;
      margin: 0;
      padding: 25px 10px;
      a {
        color: #474747;
      }
    }
    .user {
      font-size: 12px;
      border-top: 1px solid #EAEAEA;
      padding: 10px;
      margin: 0;
    }
  }
}

#edit_page {
  .current_image {

    img {
      max-width: 720px;
      display: block;
      margin: 20px 0;
    }
  }
}

.panel{
    margin-top: 20px;
}

#pin_show {
  .panel-heading {
    padding: 0;
  }
  .pin_image {
    img {
      max-width: 100%;
      width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
  .panel-body {
    padding: 35px;
    h1 {
      margin: 0 0 10px 0;
    }
    .description {
      word-wrap: break-word;
      color: #868686;
      line-height: 1.75;
      margin: 0;
    }
  }
  .panel-footer {
    padding: 20px 35px;
    p {
      margin: 0;
    }
    .user {
      padding-top: 8px;
    }
  }
}

#pin_description {
  min-height: 250px;
}


.jumbotron{
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0px;
  background-image: url(222.jpg);
  //background: #5c5c5c;
  h1{
    color: #fff;
  }
}

//Профиль
.profile{
  font-size: 25px;
  word-wrap: break-word;
}
.user_show{
  
}
.gravatar_1{
  margin-top: 15px;
}
.user_name{
}

//index pin
.main-info{
  text-align: left;
}
.comments{
  padding-top: 5px;
  margin-left: 20px;
  float: left;
  
}
.btn-group{
  margin-left: 15px;
  padding-bottom: 10px;
}

#btn_comments{
  width: 180px;
}
#comments {
      h2 {
        margin: 3em 0 1em 0;
        border-bottom: 1px solid #d6dce0;
        padding-bottom: 0.5em;
      }
      h3 {
        margin-top: 2em;
      }
      .comment {
        margin-top: 10px;
        background-color: #f5f5f5;
        border-bottom: 1px solid #d6dce0;
        padding: 1.5em 2em;
        .clear_both {
          clear: both;
        }
        &:after {
          clear: both;
        }
        .comment_content {
          float: left;
          .comment_name {
            margin: 1em 0 0 0;
            font-size: 0.7em;
            text-transform: uppercase;
          }
          .comment_body {
            font-size: 1.2em;
            margin: 0.2em 0 0 0;
          }
          .comment_time {
            margin-top: 1.2em;
            font-size: .8em;
          }
        }
        .button {
          float: right;
        }
      }
    }
#comment_body{
  margin-top: 10px;
  min-height: 50px;
  max-width: 750px;
}