<div class="container">
<footer class="footer">
  <small>
    <a href="">GoodiDeas</a>
    by iksist
  </small>
  <nav>
    <ul>
      <li><%= link_to "О нас",   about_path %></li>
      <li><%= link_to "Контакты", contact_path %></li>
      <li><a href="">Новости</a></li>
    </ul>
  </nav>
</footer>
</div>